include ../button/button
include ../document/document

mixin timeline(data, modifier)
    .timeline(class=modifier)
        .timeline__progress
        .timeline__step.timeline__step1.timeline__step--active
        .timeline__step.timeline__step2.timeline__step--active
        .timeline__step.timeline__step3.timeline__step--active
        .timeline__step.timeline__step4
        .timeline__step.timeline__step5
        .timeline__step.timeline__step6
    .infobox
        +document({
            name: 'Документ #32'
        })
        +document({
            name: 'Документ #40'
        })


