.timeline {
  background: #EDF2F7;
  border-radius: 4px;
  height: 8px;
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0;

  &__progress {
    position: absolute;
    left: 0;
    height: inherit;
    border-radius: inherit;
    background-color: #4C6FFF;
    width: 0;
  }

  &__step {
    background-color: #E4ECF7;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: relative;

    &--active {
      background-color: #7895FF;
      &::after {
        color: #4C6FFF !important;
      }

      &-blink {
        animation: 4s blink infinite;
        width: 26px;
        height: 26px;
        border: 2px solid #c2c8cf;
        cursor: pointer;
      }
    }
  }

  &__step1,
  &__step3,
  &__step5 {
    &::after {
      content: '';
      position: absolute;
      top: -35px;
      left: -50%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #A0AEC0;
      white-space: nowrap;
      transform: translateX(-25%);
    }
  }

  &__step2,
  &__step4,
  &__step6 {
    &::after {
      content: '';
      position: absolute;
      bottom: -35px;
      left: -50%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #A0AEC0;
      white-space: nowrap;
      transform: translateX(-25%);
    }
  }

  &__step1::after { content: 'Скриннинг'; }
  &__step2::after { content: 'Скоринг'; }
  &__step3::after { content: 'Экспертный совет'; }
  &__step4::after { content: 'Акселерационная программа'; }
  &__step5::after { content: 'Программа пилотирования'; }
  &__step6::after { content: 'Инвестирование'; }
}

@keyframes blink {
  0% {
    background-color: tomato;
  }

  25% {
    background-color: #7895FF;
  }

  50% {
    background-color: tomato;
  }

  75% {
    background-color: #7895FF;
  }

  100% {
    background-color: tomato;
  }
}

.infobox {
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 10px;
  margin: 20px 0;
  width: 100%;
  background-color: #F7FAFC;
  max-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height .35s ease-in-out;

  &--active {
    max-height: 100px;
  }
}

.tip {
  position: absolute;
  white-space: nowrap;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
  padding: 2px 5px;
  font-size: 11px;
  top: -53px;
  transform: translateX(-40%);
}