include ../icon/icon
include ../input/input
include ../button/button
include ../select/select

mixin auth(data, modifier, attr)
    article.auth(class=modifier)
        .auth__wrapper
            .auth__list
                if data.img
                    img(src=data.img).auth__img

                if data.title
                    .auth__title!= data.title

                if data.authorization
                    .auth__fields
                        .auth__field
                            span.auth__field-title E-mail
                            +input({
                                type: 'input',
                                placeholder: 'Введите адрес электронной почты',
                                input_name: 'emailaddress'
                            }, '')
                        .auth__field
                            span.auth__field-title Пароль
                            +input({
                                type: 'input',
                                placeholder: 'Введите пароль',
                                input_name: 'password',
                                pass: true,
                            }, '')
                            span.auth__field-tip Пароль должен содержать не менее 8 символов
                        .auth__button
                            +button({
                                type: 'link',
                                url: 'dashboard.html',
                                title: 'Войти'
                            }, 'button--primary button--wide button--auth')
                    .auth__or или войти с помощью
                    .auth__oauth
                        a(href='#').auth__oauth-item
                            img(src="/assets/img/google_auth.png")
                        a(href='#').auth__oauth-item
                            img(src="/assets/img/apple_auth.png")
                        a(href='#').auth__oauth-item
                            img(src="/assets/img/facebook_auth.png")
                else if data.registration
                    .auth__fields
                        .auth__button
                            +button({
                                type: 'link',
                                url: 'registration_form.html',
                                title: 'Заказчик'
                            }, 'button--primary button--wide button--auth')
                        .auth__button
                            +button({
                                type: 'link',
                                url: 'registration_form-team.html',
                                title: 'Команда'
                            }, 'button--primary button--wide button--auth')
                else if data.registration_form
                    .auth__fields
                        .auth__field
                            span.auth__field-title Имя
                            +input({
                                type: 'input',
                                placeholder: 'Введите имя',
                                input_name: 'yourname'
                            }, '')
                        .auth__field
                            span.auth__field-title E-mail
                            +input({
                                type: 'input',
                                placeholder: 'Введите адрес электронной почты',
                                input_name: 'emailaddress'
                            }, '')
                        .auth__field
                            span.auth__field-title Пароль
                            +input({
                                type: 'input',
                                placeholder: 'Введите пароль',
                                input_name: 'password',
                                pass: true,
                            }, '')
                            span.auth__field-tip Пароль должен содержать не менее 8 символов
                        .auth__agreement
                            +input({
                                type: 'checkbox',
                                name: 'agreement'
                            }, 'auth__agreement-checkbox')
                            .auth__agreement-text
                                |Создание учетной записи означает, что вы соглашаетесь с
                                br
                                strong Правилами Пользования и Политикой Конфиденциальности
                        .auth__button
                            +button({
                                type: 'link',
                                url: 'dashboard.html',
                                title: 'Зарегистрироваться'
                            }, 'button--primary button--wide button--auth')
                    .auth__or или зарегистрируйтесь с помощью
                    .auth__oauth
                        a(href='#').auth__oauth-item
                            img(src="/assets/img/google_auth.png")
                        a(href='#').auth__oauth-item
                            img(src="/assets/img/apple_auth.png")
                        a(href='#').auth__oauth-item
                            img(src="/assets/img/facebook_auth.png")
                else if data.registration_form_team
                    .auth__fields
                        .auth__field
                            span.auth__field-title Наименование команды/организации
                            +input({
                                type: 'input',
                                placeholder: 'Введите наименование команды/организации',
                                input_name: 'yourname'
                            }, '')
                        .auth__field
                            span.auth__field-title ФИО контактного лица по заявке
                            +input({
                                type: 'input',
                                placeholder: 'Введите ФИО контактного лица по заявке',
                                input_name: 'fio'
                            }, '')
                        .auth__field
                            span.auth__field-title Должность контактного лица
                            +input({
                                type: 'input',
                                placeholder: 'Введите должность контактного лица',
                                input_name: 'position'
                            }, '')
                        .auth__field
                            span.auth__field-title Контактный телефон
                            +input({
                                type: 'input',
                                placeholder: 'Контактный телефон ',
                                input_name: 'numberphone'
                            }, '')
                        .auth__field
                            span.auth__field-title Контактная почта
                            +input({
                                type: 'input',
                                placeholder: 'Введите адрес электронной почты',
                                input_name: 'emailaddress'
                            }, '')
                        .auth__field
                            span.auth__field-title Наименование юридического лица
                            +input({
                                type: 'input',
                                placeholder: 'Введите наименование юридического лица',
                                input_name: 'urlico'
                            }, '')
                        .auth__field
                            span.auth__field-title ИНН юридического лица
                            +input({
                                type: 'input',
                                placeholder: 'Введите ИНН юридического лица',
                                input_name: 'inn'
                            }, '')
                        .auth__field
                            span.auth__field-title Сколько человек в организации
                            +select([
                                {value: '0', title: 'Выберите из списка'},
                                {value: '1', title: 'Менее 20'},
                                {value: '2', title: 'От 20 до 100'},
                                {value: '3', title: 'От 100 до 500'},
                                {value: '4', title: 'Более 500'},
                            ], 'custom-select--filter js-filter-1', 'Выберите из списка')
                        .auth__field
                            span.auth__field-title Пароль
                            +input({
                                type: 'input',
                                placeholder: 'Введите пароль',
                                input_name: 'password',
                                pass: true,
                            }, '')
                            span.auth__field-tip Пароль должен содержать не менее 8 символов
                        .auth__agreement
                            +input({
                                type: 'checkbox',
                                name: 'agreement'
                            }, 'auth__agreement-checkbox')
                            .auth__agreement-text
                                | Создание учетной записи означает, что вы соглашаетесь с
                                br
                                strong Правилами Пользования и Политикой Конфиденциальности
                        .auth__button
                            +button({
                                type: 'link',
                                url: 'dashboard.html',
                                title: 'Зарегистрироваться'
                            }, 'button--primary button--wide button--auth')

                else if data.make_request
                    .auth__fields
                        .auth__field
                            span.auth__field-title Наименование команды/организации
                            +input({
                                type: 'input',
                                placeholder: 'Введите наименование команды/организации',
                                input_name: 'teamname'
                            }, '')
                        .auth__field
                            span.auth__field-title Стадия готовности продукта
                            +select([
                                {value: '0', title: 'Выберите стадию готовности продукта'},
                                {value: '1', title: 'Идея'},
                                {value: '2', title: 'Прототип'},
                                {value: '3', title: 'Продукт'},
                            ], 'custom-select--filter filter-1', 'Выберите стадию готовности продукта')
                        .auth__field
                            span.auth__field-title Краткое описание продукта
                            +input({
                                type: 'input',
                                placeholder: 'Введите краткое описание продукта',
                                input_name: 'description'
                            }, '')
                        .auth__field
                            span.auth__field-title Польза продукта
                            +input({
                                type: 'input',
                                placeholder: 'Опишите пользу вашего продукта',
                                input_name: 'profit'
                            }, '')
                        .auth__field
                            span.auth__field-title Организация Московского транспорта, интересная в первую очередь
                            +select([
                                {value: '0', title: 'Выберите организацию'},
                                {value: '1', title: 'Московский метрополитен'},
                                {value: '1', title: 'Мосгортранс'},
                                {value: '1', title: 'ЦОДД'},
                                {value: '2', title: 'Организатор перевозок'},
                                {value: '3', title: 'Мостранспроект'},
                                {value: '3', title: 'АМПП'},
                            ], 'custom-select--filter filter-2', 'Выберите организацию')
                        .auth__field
                            span.auth__field-title Запрос к акселератору и видение пилотного проекта
                            +input({
                                type: 'input',
                                placeholder: 'Введите запрос к акселератору и видение пилотного проекта',
                                input_name: 'requesttoacc'
                            }, '')
                        .auth__field
                            span.auth__field-title Требуется ли сертификация продукта
                            +select([
                                {value: '0', title: 'Выберите вариант'},
                                {value: '1', title: 'Да, требуется сертификация и она есть'},
                                {value: '1', title: 'Да, требуется сертификация и её нет'},
                                {value: '3', title: 'Нет, не требуется'},
                                {value: '3', title: 'АМПП'},
                            ], 'custom-select--filter filter-3', 'Выберите вариант')
                        .auth__field
                            span.auth__field-title ФИО контактного лица по заявке
                            +input({
                                type: 'input',
                                placeholder: 'Введите ФИО контактного лица по заявке',
                                input_name: 'fiocontface'
                            }, '')
                        .auth__field
                            span.auth__field-title Должность контактного лица
                            +input({
                                type: 'input',
                                placeholder: 'Введите должность контактного лица',
                                input_name: 'positionofperson'
                            }, '')
                        .auth__field
                            span.auth__field-title Контактный телефон
                            +input({
                                type: 'input',
                                placeholder: 'Введите номер контактного телефона',
                                input_name: 'phonenumber'
                            }, '')
                        .auth__field
                            span.auth__field-title Контактная почта
                            +input({
                                type: 'input',
                                placeholder: 'Введите контактную почту',
                                input_name: 'email'
                            }, '')
                        .auth__field
                            span.auth__field-title Наименование юридического лица
                            +input({
                                type: 'input',
                                placeholder: 'Введите наименование юр. лица',
                                input_name: 'urliconame'
                            }, '')
                        .auth__field
                            span.auth__field-title Сколько человек в организации
                            +select([
                                {value: '0', title: 'Выберите из списка'},
                                {value: '1', title: 'Менее 20'},
                                {value: '2', title: 'От 20 до 100'},
                                {value: '3', title: 'От 100 до 500'},
                                {value: '4', title: 'Более 500'},
                            ], 'custom-select--filter filter-4', 'Выберите из списка')
                        .auth__field
                            span.auth__field-title Сайт
                            +input({
                                type: 'input',
                                placeholder: 'Введите ссылку на сайт проекта',
                                input_name: 'wwwsitelink',
                            }, '')
                        .auth__field
                            span.auth__field-title Откуда узнали про акселератор
                            +input({
                                type: 'input',
                                placeholder: 'Впишите откуда узнали про акселератор',
                                input_name: 'wheredidyouknow'
                            }, '')
                        .auth__field
                            span.auth__field-title Ссылка на презентацию
                            +input({
                                type: 'input',
                                placeholder: 'Введите ссылку на презентацию',
                                input_name: 'presentation'
                            }, '')
                        .auth__button
                            +button({
                                type: 'link',
                                url: 'dashboard.html',
                                title: 'Оставить заявку'
                            }, 'button--primary button--wide button--auth')

                else if data.make_request_second
                    .auth__fields
                        .auth__field
                            span.auth__field-title Наименование команды/организации
                            +input({
                                type: 'input',
                                placeholder: 'Введите наименование команды/организации',
                                input_name: 'teamname'
                            }, '')
                        .auth__field
                            span.auth__field-title Стадия готовности продукта
                            +select([
                                {value: '0', title: 'Выберите стадию готовности продукта'},
                                {value: '1', title: 'Идея'},
                                {value: '2', title: 'Прототип'},
                                {value: '3', title: 'Продукт'},
                            ], 'custom-select--filter filter-1', 'Выберите стадию готовности продукта')
                        .auth__field
                            span.auth__field-title Краткое описание продукта
                            +input({
                                type: 'input',
                                placeholder: 'Введите краткое описание продукта',
                                input_name: 'description'
                            }, '')
                        .auth__field
                            span.auth__field-title Польза продукта
                            +input({
                                type: 'input',
                                placeholder: 'Опишите пользу вашего продукта',
                                input_name: 'profit'
                            }, '')
                        .auth__field
                            span.auth__field-title Организация Московского транспорта, интересная в первую очередь
                            +select([
                                {value: '0', title: 'Выберите организацию'},
                                {value: '1', title: 'Московский метрополитен'},
                                {value: '1', title: 'Мосгортранс'},
                                {value: '1', title: 'ЦОДД'},
                                {value: '2', title: 'Организатор перевозок'},
                                {value: '3', title: 'Мостранспроект'},
                                {value: '3', title: 'АМПП'},
                            ], 'custom-select--filter filter-2', 'Выберите организацию')
                        .auth__field
                            span.auth__field-title Запрос к акселератору и видение пилотного проекта
                            +input({
                                type: 'input',
                                placeholder: 'Введите запрос к акселератору и видение пилотного проекта',
                                input_name: 'requesttoacc'
                            }, '')
                        .auth__field
                            span.auth__field-title Требуется ли сертификация продукта
                            +select([
                                {value: '0', title: 'Выберите вариант'},
                                {value: '1', title: 'Да, требуется сертификация и она есть'},
                                {value: '1', title: 'Да, требуется сертификация и её нет'},
                                {value: '3', title: 'Нет, не требуется'},
                                {value: '3', title: 'АМПП'},
                            ], 'custom-select--filter filter-3', 'Выберите вариант')
                        .auth__field
                            span.auth__field-title ФИО контактного лица по заявке
                            +input({
                                type: 'input',
                                placeholder: 'Введите ФИО контактного лица по заявке',
                                input_name: 'fiocontface'
                            }, '')
                    .auth__fields
                        .auth__field
                            span.auth__field-title Должность контактного лица
                            +input({
                                type: 'input',
                                placeholder: 'Введите должность контактного лица',
                                input_name: 'positionofperson'
                            }, '')
                        .auth__field
                            span.auth__field-title Контактный телефон
                            +input({
                                type: 'input',
                                placeholder: 'Введите номер контактного телефона',
                                input_name: 'phonenumber'
                            }, '')
                        .auth__field
                            span.auth__field-title Контактная почта
                            +input({
                                type: 'input',
                                placeholder: 'Введите контактную почту',
                                input_name: 'email'
                            }, '')
                        .auth__field
                            span.auth__field-title Наименование юридического лица
                            +input({
                                type: 'input',
                                placeholder: 'Введите наименование юр. лица',
                                input_name: 'urliconame'
                            }, '')
                        .auth__field
                            span.auth__field-title Сколько человек в организации
                            +select([
                                {value: '0', title: 'Выберите из списка'},
                                {value: '1', title: 'Менее 20'},
                                {value: '2', title: 'От 20 до 100'},
                                {value: '3', title: 'От 100 до 500'},
                                {value: '4', title: 'Более 500'},
                            ], 'custom-select--filter filter-4', 'Выберите из списка')
                        .auth__field
                            span.auth__field-title Сайт
                            +input({
                                type: 'input',
                                placeholder: 'Введите ссылку на сайт проекта',
                                input_name: 'wwwsitelink',
                            }, '')
                        .auth__field
                            span.auth__field-title Откуда узнали про акселератор
                            +input({
                                type: 'input',
                                placeholder: 'Впишите откуда узнали про акселератор',
                                input_name: 'wheredidyouknow'
                            }, '')
                        .auth__field
                            span.auth__field-title Ссылка на презентацию
                            +input({
                                type: 'input',
                                placeholder: 'Введите ссылку на презентацию',
                                input_name: 'presentation'
                            }, '')
                        .auth__button
                            +button({
                                type: 'link',
                                url: 'dashboard.html',
                                title: 'Оставить заявку'
                            }, 'button--primary button--wide button--auth')
