.auth {
  margin-top: 130px;
  margin-bottom: 100px;

  &__list {
    max-width: 425px;
    margin: 0 auto;
    text-align: center;
  }

  &__agreement {
    margin-top: 30px;
    display: inline-flex;
    align-items: flex-start;
    column-gap: 10px;

    &-text {
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #425466;
      text-align: left;
    }
  }

  &__title {
    color: $color-text-secondary;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 136.02%;
    margin-top: 30px;
  }

  &__fields {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
  }

  &__button {
    margin-top: 30px;
  }

  &__oauth {
    display: inline-flex;
    align-items: center;
    column-gap: 16px;
  }

  &__or {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #7A7A9D;
    display: inline-flex;
    align-items: center;
    margin: 30px 0;
    width: 100%;
    white-space: nowrap;
    column-gap: 24px;

    &::after,
    &::before {
      content: '';
      position: relative;
      width: 100%;
      height: 1px;
      background-color: #EDF2F7;
    }
  }

  &__field {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: 30px;

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 8px;
    }

    &-tip {
      color: #7A7A9D;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 12px;
      margin-top: 8px;
    }
  }

  &--make-request-second {
    margin-top: 0;

    .auth__button {
      align-self: flex-start;

      .button--auth {
        width: auto;
      }
    }

    .auth__list {
      max-width: 1300px;
      display: flex;
      flex-flow: row nowrap;
      margin: 0 auto 0 0;
    }

    .auth__fields {
      flex: 1 1 50%;

      &:first-child {
        margin-right: 100px;
      }
    }
  }

  &--make-request {
    .auth__list {
      max-width: 535px;
    }
  }

  &--registration {
    .auth__list {
      max-width: 458px;
    }

    .auth__fields {
      max-width: 425px;
      text-align: center;
      margin: 20px auto;
    }
  }
}