.h-hidden {
  display: none;
}

.h-display--flex {
  display: flex;
}

.h-mt--20 {
  margin-top: 20px;
}

.h-mt--100 {
  margin-top: 100px;
}

.h-ml--30 {
  margin-left: 30px;
}

.h-ml--100 {
  margin-left: 100px;
}

.h-mb--15 {
  margin-bottom: 15px;
}

.index ol {
  padding: 0 0 0 40px;
}

.h-fz--18 {
  font-size: 18px;
}

.h-lh--130 {
  line-height: 130%;
}

.h-ls--disc {
  list-style: disc;
}