/**
 *
 *
 * @author Tatevosyan Artem (@teqst)
 */

.custom-select {
  position: relative;
  border: none;
  outline: none;
  width: 100%;
  height: 48px;
  background: #EDF2F7;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  padding: 0 16px;
  display: flex;
  color: #7A828A;
  align-items: center;
  user-select: none;
  height: inherit;
}

.select-selected:after {
  position: absolute;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_111_3864' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='11' height='11'%3E%3Cpath d='M4.98265 7.65869L1.68524 3.89022C1.29628 3.4457 1.61196 2.75 2.20263 2.75H8.79745C9.38812 2.75 9.70381 3.4457 9.31485 3.89022L6.01744 7.65869C5.74353 7.97173 5.25655 7.97173 4.98265 7.65869Z' fill='black'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_111_3864)'%3E%3Crect width='11' height='11' fill='%23B5B5BD'/%3E%3C/g%3E%3C/svg%3E%0A");
  top: 50%;
  right: 16px;
  width: 11px;
  height: 11px;
  font-weight: normal;
  transform: translateY(-50%) rotate(-180deg);
  font-size: 18px;
  line-height: 120%;
  color: #383838;
  transition: all .14s ease-out;
}

.select-selected.select-arrow-active:after {
  transform: rotate(0deg);
  top: 40%;
}

.select-items div {
  padding: 15px;
  margin: 3px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #425466;
  border-radius: 6px;
  transition: all .05s ease-in;
}

.select-items {
  position: absolute;
  background: #EDF2F7;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 8px;
  left: 0;
  right: 0;
  z-index: 99;
  top: 65px;
  min-width: 285px;
  padding: 10px;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.select-items .custom-selected {
  background: #4C6FFF;
  color: #FFFFFF;
}


.custom-select--cover-color,
.custom-select--color {
  .select-items {
    min-width: 162px;
    display: flex;
    flex-wrap: wrap;
  }

  .select-hide {
    display: none;
  }

  .select-items div:hover,
  .select-items .custom-selected {
    &:before {
      display: initial;
    }
  }

  .select-items div {
    flex: 0 0 12px;
    margin: 10px;
    padding: 0;
    height: 12px;
    background-color: #225b7a;
    border-radius: 100%;
    position: relative;
  }
}

.custom-select--cover-color {
  .select-selected {
    width: 11px;
    height: 11px;
    padding: 0;
    border-radius: 20px;
    background-color: #383838;
  }

  .select-selected:after {
    content: none;
  }
}

.custom-select--cover-size .select-selected {
  font-size: 15px;
  font-weight: 300;
}

.custom-select--cover-size,
.custom-select--size {
  .select-items {
    display: flex;
    flex-wrap: wrap;
  }

  .select-hide {
    display: none;
  }

  .select-items div {
    flex: 0 1 20%;
    padding: 9px;

    &:before {
      width: 9px;
      height: 9px;
      font-size: 12px;
      line-height: 120%;
      margin-right: 4px;
    }
  }
}

.custom-select--cover-size {
  .select-items {
    min-width: 188px;
    left: -94px;
    top: 22px;
  }

  .select-items div {
    font-size: 12px;
    line-height: 120%;
    min-width: 47px;
    padding: 8px;
  }
}

.custom-select--cover-color {
  .select-items {
    min-width: 160px;
    left: -48px;
    top: 22px;
  }
}