include ../button/button

mixin input(data, modifier)
    if data.type === 'radio'
        label(class=modifier).input.input--radio
            input(type="radio", name=data.input_name)
            span(class=data.color_class).input__checkmark
                if data.title
                    != data.title

    if data.type === 'input'
        input(type= data.pass ? 'password':'text', name=data.input_name, placeholder=data.placeholder).input.input--data-field

    if data.type === 'search'
        .search-field
            input(type='text', name='search', placeholder='Поиск').input.input--search-field
            +button({
                type: 'button',
                icon: 'search',
                alt: 'Поиск',
                attr: {
                    'aria-label': 'Поиск'
                }
            }, 'button--clear')

    if data.type === 'checkbox'
        label.checkbox
            input(type="checkbox", name=data.input_name).checkbox__input
            span.checkbox__custom
            != data.label
