/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.input {
  & input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

  &--search-field {
    font-weight: normal;
    font-size: 16px;
    line-height: 162.02%;

    &::placeholder {
      color: #B5B5BD;
    }
  }

  &--data-field {
    position: static;
    appearance: initial;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    padding: 16px;
    background: #EDF2F7;
    border-radius: 6px;
    text-align: left;

    &::placeholder {
      color: #7A828A;
    }
  }

  &--radio-colors {
    display: block;
    position: relative;
    padding-left: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .input__checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 12px;
      width: 12px;
      background-color: #eee;
      border-radius: 50%;
    }

    .input__checkmark--grey {
      background-color: #97A5AD;
    }

    .input__checkmark--blue {
      background-color: #7DA2B8;
    }

    .input__checkmark--brown {
      background-color: #9C6D4B;
    }

    .input__checkmark--skin {
      background-color: #BBB089;
    }

    &:hover input ~ .input__checkmark {
      opacity: .7;
    }

    & input:checked ~ .input__checkmark::after,
    & input:focus ~ .input__checkmark::after {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      height: 18px;
      width: 18px;
      border: 1px solid rgba(48, 48, 48, 0.7);
      border-radius: 50%;
    }
  }

  &--radio-sizes {
    padding-right: 29px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .input__checkmark {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 29px;
      font-weight: normal;
      font-size: 14px;
      width: 29px;
      height: 29px;
      text-align: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0);
    }

    & input:checked ~ .input__checkmark,
    & input:focus ~ .input__checkmark {
      background-color: $color-text;
      color: $color-main;
    }
  }
}

.search-field {
  padding: 11px 16px;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: rgba(255, 255, 255, 0);
}

.checkbox {
  text-align: initial;
  padding-left: 1.2rem;
  margin-top: 5px;

  &__input {
    appearance: none;
    position: absolute;

    &:checked + .checkbox__custom {
      background-image: url("../img/checkbox_checked.svg");
    }
  }

  &__custom {
    position: absolute;
    width: 1.39em;
    height: 1.39em;
    cursor: pointer;
    background-image: url('../img/checkbox.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -1.2rem;
    transition: all .1s ease-in;
  }
}