include ../cover/cover
include ../button/button

mixin catalog-slider(data, modifier)
    article.catalog-slider(class=modifier)
        .container
            .catalog-slider__wrapper
                .catalog-slider__header
                    .catalog-slider__title!= data.title
                    .catalog-slider__controls
                        +button({
                            type: 'button',
                            alt: 'Назад',
                            icon: 'arrow_l',
                            icon_modifier: 'icon--slider',
                            attr: {
                                'aria-label': 'Назад'
                            }
                        }, 'button--slider button--clear swiper-button-prev ' + data.pagination_class_prev)

                        +button({
                            type: 'button',
                            alt: 'Вперёд',
                            icon: 'arrow_r',
                            icon_modifier: 'icon--slider',
                            attr: {
                                'aria-label': 'Вперёд'
                            }
                        }, 'button--slider button--clear swiper-button-next ' + data.pagination_class_next)

                .swiper-container.catalog-slider__slider(class=data.slider_class)
                    .swiper-wrapper.catalog-slider__wrapper
                        each val in data.slides
                            .swiper-slide.catalog-slider__slide
                                +cover({
                                    img_src: val,
                                    favorites: true,
                                    url: 'detail.html',
                                    colors: true,
                                    info: {
                                        title: 'Костюм женский',
                                        price: '4 300 ₽',
                                        size: data.btn_size
                                    },
                                    label: '01 - Верхняя одежда',
                                }, 'cover--slider')
