@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
          url("/fonts/Inter-Black.ttf") format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
          url("/assets/fonts/Inter-Bold.ttf") format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
          url("/assets/fonts/Inter-Regular.ttf") format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
          url("/assets/fonts/Inter-Light.ttf") format('ttf');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
          url("/assets/fonts/Inter-Thin.ttf") format('ttf');
}
