/*Colors*/

$color-text: #425466;
$color-text-secondary: #27272E;
$color-main: #FFFFFF;
$color-bg-primary: #ffffff;
$color-bg-secondary: #F7FAFC;
$color-juice: #4C6FFF;



/*Font settings*/

$font-family: "Inter", serif;

$base-font-size: 15px;
$font-size-h0: 45px;
$font-size-h1: 45px;
$font-size-h2: 25px;
$font-size-h3: 20px;


/*Fixed sizes*/

$header-height: 92px;

$container-width: 1320px;
$container-x-padding: 25px;

/*Breakpoints*/

$desktop-lg: 1920px;
$tablet: 1023px;
$mobile: 650px;