/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.document {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 15px;

  &__icon {
    width: 20px;
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: $color-text;
  }
}