
mixin document(data, modifier)
    .document(class=modifier)
        img(src="assets/img/word.png").document__icon
        a(href="http://www.africau.edu/images/default/sample.pdf").document__link!= data.name