/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.detail-tabs {
  margin-top: 40px;

  &__icon {
    margin-right: 10px;
  }

  &__control {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #EDF2F7;
    border-bottom: 1px solid #EDF2F7;
    height: 47px;

    &-item {
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      color: #A0AEC0;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      height: inherit;
      border-bottom: 2px solid transparent;

      &:not(:first-child) {
        margin-left: 24px;
      }

      &--active {
        color: #4C6FFF;
        border-bottom: 2px solid #4C6FFF;
      }
    }
  }

  &__content {

    &-description {
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      color: #7A7A9D;
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      color: #16192C;
      margin: 16px 0px;
    }

    &-link {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      color: #4C6FFF;
    }

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      color: #425466;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
    }

    &-item {
      display: none;

      &--active {
        display: block;
        padding: 30px 0;
      }
    }
  }
}
