mixin detail-tabs(modifier)
    section.detail-tabs(class=modifier)
        .detail-tabs
            .detail-tabs__control
                .detail-tabs__control-item.detail-tabs__control-item--active(data-tabname="current") Описание
                .detail-tabs__control-item(data-tabname="info") Подробная информация
                .detail-tabs__control-item(data-tabname="contacts") Контакты
                .detail-tabs__control-item(data-tabname="presentation") Презентация
            .detail-tabs__content
                .detail-tabs__content-item.detail-tabs__content-item--active(data-tabname="current")
                    .detail-tabs__content-block
                        .detail-tabs__content-description Программное обеспечение для анализа транспортных потоков по видео. Технология мониторинга может применяться как для учёта транспортных потоков, так и для адаптивного регулирования перекрёстков. Система способна определять ДТП, занятость парковочных мест, контролировать соблюдение правил дорожного движения, причём съёмка может проходить как со стационарных камер, так и с беспилотных летательных аппаратов. Точность определения объектов достигает 90%.

                    .detail-tabs__content-block
                        .detail-tabs__content-title Кейсы использования продукта
                        .detail-tabs__content-text
                            img(src="assets/img/checkbox_icon.png").detail-tabs__icon
                            | На дорогах
                        .detail-tabs__content-text
                            img(src="assets/img/checkbox_icon.png").detail-tabs__icon
                            | На железнодорожных путях
                        .detail-tabs__content-text
                            img(src="assets/img/checkbox_icon.png").detail-tabs__icon
                            | Трамвайные пути
                        .detail-tabs__content-text
                            img(src="assets/img/checkbox_icon.png").detail-tabs__icon
                            | Общие условия городского движения

                    .detail-tabs__content-block
                        .detail-tabs__content-title Польза продукта
                        .detail-tabs__content-description Подробный анализ транспортных потоков для их последующих оптимизации и изменений транспортных узлов.

                .detail-tabs__content-item(data-tabname="info")
                    .detail-tabs__content-block
                        .detail-tabs__content-title Организация Московского транспорта
                        .detail-tabs__content-text
                            img(src="assets/img/checkbox_icon.png").detail-tabs__icon
                            | Московский метрополитен.

                    .detail-tabs__content-block
                        .detail-tabs__content-title Сертификация продукта
                        .detail-tabs__content-text
                            img(src="assets/img/checkbox_icon.png").detail-tabs__icon
                            | Да, требуется. Имеется в наличии.

                    .detail-tabs__content-block
                        .detail-tabs__content-title Презентация
                        a(href='#').detail-tabs__content-link Ссылка

                .detail-tabs__content-item(data-tabname="contacts")
                    .detail-tabs__content-block
                        .detail-tabs__content-title Контактный телефон
                        .detail-tabs__content-text +7-123-456-78-90, Иванов Иван Иванович, должность

                    .detail-tabs__content-block
                        .detail-tabs__content-title Контактная почта
                        .detail-tabs__content-text ivanivanov@mail.ru

                    .detail-tabs__content-block
                        .detail-tabs__content-title Наименование юридического лица
                        .detail-tabs__content-text ООО Эирпулл

                    .detail-tabs__content-block
                        .detail-tabs__content-title ИНН юридического лица
                        .detail-tabs__content-text 123456789012

                    .detail-tabs__content-block
                        .detail-tabs__content-title Сайт
                        a(href='#').detail-tabs__content-link https://mystartup.com

                .detail-tabs__content-item(data-tabname="presentation")
                    iframe(src='https://docs.google.com/gview?url=https://files.elfsight.com/storage/_assets/file-embed/files/embed-pptx-file.pptx&embedded=true', width="100%", height="565px", frameborder='0')