.landing-block {

  &__title--special {
        -webkit-text-stroke: 1px #FFFFFF60;
        -webkit-background-clip: text;
        background-image: url('../img/wave.svg');
        background-position: 0 0;
        animation: title-anima 20s linear infinite;
        white-space: nowrap;
        color: transparent;
  }

  &__title {
    margin-top: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: -1px;
    color: #FFFFFF;
    max-width: 726px;
  }

  &__subtitle {
    margin-top: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 626px;
  }

  &__actions {
    margin-top: 67px;
    display: inline-flex;
    align-items: center;
    column-gap: 24px;
  }
}

//color: rgba(255, 255, 255, 0);
//    font-family: 'Roboto Black', Arial, Helvetica, sans-serif;
//    font-size: 65px;
//    -webkit-text-stroke: 1px $color-light-violet;
//    -webkit-background-clip: text;
//    background-image: url('../img/texture_title.png');
//    background-position: 0 0;
//    animation: title-anima 10s linear infinite;
//    white-space: nowrap;
//    line-height: 120%;

@keyframes title-anima {
  100% {
    background-position: 2000px 10px;
  }
}