include ../button/button

mixin landing-block(data, modifier)
    .landing-block(class=modifier)
        .landing-block__content
            h1.landing-block__title
                .landing-block__title--special INNO-ТИМ
                | &mdash; Акселератор Транспортных инноваций Москвы
            h2.landing-block__subtitle Запусти пилотный проект в Московском транспорте, протестировав свой продукт в реальных условиях.
            .landing-block__actions
                +button({
                    type: 'link',
                    url: 'make_request_second.html',
                    title: 'Оставить заявку'
                }, 'button--primary button--wide button--auth')
                +button({
                    type: 'link',
                    url: 'index.html',
                    title: 'Узнать больше'
                }, 'button--secondary button--wide')

