.icon {
  flex: none;
  width: 24px;
  height: 24px;

  &--small {
    width: 16px;
    height: 16px;
  }

  &--medium {
    width: 32px;
    height: 32px;
  }

  &--longline {
    width: 200px;
  }

  &--like {
    width: 16px;
    height: 14px;
    margin: 0;
  }

  &--detail-sizes {
    width: .78rem;
    height: .78rem;
  }

  &--unselect {
    width: 9px;
    height: 14px;
    margin-left: 13px;
    margin-right: 0;
  }

  &--slider {
    width: 40px;
    height: auto;
    max-height: 24px;
    margin: 0;
  }

  &--search-catalog {
    width: 12px;
    height: 12px;
  }
}

@keyframes toggleLine {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

