/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.cover {
  position: relative;
  width: 100%;
  max-width: 350px;
  min-height: 530px;
  border-radius: 16px;
  background-color: $color-main;


  &__button {
    z-index: 2;
    cursor: pointer;
  }

  &__button--favorites {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    background: no-repeat center/contain url(../img/like.svg);
    transition: all .15s ease-in;

    &-active {
      background: no-repeat center/contain url(../img/liked.svg);
    }
  }

  &__poster {
    width: 100%;
    height: 213px;
  }

  &__image {
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }

  &__info {
    padding: 24px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #27272E;
  }

  &__tags {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-top: 17px;
    margin-bottom: 24px;
  }

  &__tag {
    background: #E1E8FF;
    border-radius: 6px;
    padding: 2px 8px;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    color: $color-juice;
  }

  &__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #425466;
  }

  &__actions {
    padding: 24px;
  }
}