include ../button/button

mixin cover(data, modifier)
    section.cover(class= modifier, aria-label= data.label)
        .cover__poster
            img(src= data.img_src, aria-label= data.label, alt= data.label).cover__image

            if data.favorites
                +button({
                    type: 'button',
                    alt: 'Добавить в избранное',
                    attr: {
                        'aria-label': 'Добавить в избранное'
                    }
                }, 'cover__button cover__button--favorites button--favorites button--clear cover__button--favorites-active')
        .cover__info
            .cover__title!=data.title
            .cover__tags
                .cover__tag Анализ данных
                .cover__tag Транспорт
                .cover__tag Безопасность
            .cover__description Программное обеспечение для анализа транспортных потоков по видео. Технология мониторинга... может применяться как для учёта транспортных потоков, так и для адаптивного регулирования пер...
        .cover__actions
            +button({
                type: 'link',
                url: 'detail.html',
                title: 'Детали',
            }, 'button--primary button--wide')
