.button {
  position: relative;
  display: inline-flex;
  min-width: 200px;
  font-family: $font-family;
  font-size: 15px;
  line-height: 100%;
  font-weight: normal;
  text-align: center;
  color: $color-main;
  background-color: $color-juice;
  white-space: nowrap;
  border: none;
  padding: 16px 50px;
  box-shadow: none;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 8px;

  &--secondary {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    border-radius: 8px;
  }

  &--clear {
    min-width: initial;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $color-text;
  }

  &--auth {
    transition: all .24s ease-in;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $color-text-secondary;
      clip-path: circle(0);
      transition: .24s ease-in;
      border-radius: 8px;
    }

    &:hover::after {
      clip-path: circle(220px);
    }

    &:hover {
      color: $color-text;
    }

  }

  &--wide {
    width: 100%;
  }

  &--tertiary {
    border: 1px solid #EDF2F7;
    border-radius: 6px;
    background-color: white;
    color: #16192C;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3.8em;
      height: 100%;
      filter: blur(4px);
      transform: translateX(0) skewX(-45deg);
    }
  }

  &:focus-visible {
    outline: $color-text solid 1px;
    outline-offset: 1px;
  }

  &__content {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
  }

  &--slider {
    &:first-child {
      margin-right: 10px;
    }
  }

  &__icon {
    max-height: 100%;
    margin-right: 8px;
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
    cursor: default;
    opacity: .5;
  }

  &--small {
    padding: 14px 39px;
    min-width: initial;

    .button__content {
      font-weight: 300;
      font-size: 12px;
    }
  }

  &--medium {
    padding: 14px 43px;
    min-width: initial;

    .button__content {
      font-weight: 300;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &--primary:hover {
      background-color: $color-text;
      color: $color-main;
    }

    &--tertiary:hover::after {
      animation: move-light 0.6s;
    }
  }

}

@keyframes move-light {
  from {
    transform: translateX(-4em) skewX(-45deg);
    background-color: #4C6FFF35;
  }
  to {
    transform: translateX(20em) skewX(-45deg);
    background-color: #4C6FFF00;
  }
}