include ../icon/icon.pug

mixin __content(data)
    span(class=data.content_modifier).button__content
        if data.icon
            +icon({ id: data.icon, modifier: data.icon_modifier ? 'button__icon ' + data.icon_modifier : 'button__icon'})

        if data.img
            img(src=data.img, class=data.img_modifier, alt=data.title || data.alt).button__content-img

        if data.title
            span.button__text!= data.title

mixin button(data, modifier, attr)
    if data.type === 'link'
        a.button(href=data.url, class=modifier, title=data.title || data.alt)&attributes(attr ? attr : {})
            if data.img || data.icon || data.title
                +__content(data)
    if data.type === 'button' || data.type === 'submit'
        button.button(type=data.type, class=modifier, title=data.title || data.alt)&attributes(attr ? attr : {})
            if data.img || data.icon || data.title
                +__content(data)
            