include ../button/button
include ../timeline/timeline
include ../detail-tabs/detail-tabs

mixin detail-item(data, modifier)
    section.detail-item
        .detail-item__slider.swiper-container
            +button({
                type: 'button',
                alt: 'Добавить в избранное',
                attr: {
                    'aria-label': 'Добавить в избранное'
                }
            }, 'cover__button cover__button--favorites button--favorites button--clear cover__button--favorites-active')
            .detail-item__next-slide
            .detail-item__prev-slide
            .detail-item__bullets
            .detail-item__slider-wrap.swiper-wrapper
                .detail-item__slide.swiper-slide
                    .detail-item__image
                        img(src="../assets/img/photo.jpg")
                .detail-item__slide.swiper-slide
                    .detail-item__image
                        img(src="../assets/img/poster.jpg")
                .detail-item__slide.swiper-slide
                    .detail-item__image
                        img(src="../assets/img/image.jpg")
        .detail-item__content
            .detail-item__top
                img(src="assets/img/detail-logo.jpg").detail-item__top-logo
                .detail-item__top-block
                    .detail-item__title Анализ транспортных потоков
                    .detail-item__organization ООО 'Эирпулл'
                .detail-item__top-block
                    .detail-item__title
                    .detail-item__organization
            .detail-item__divider
            +timeline({

            }, '')
            .detail-item__tabs
                +detail-tabs()
