/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.detail-item {
  background: #FFFFFF;
  border-radius: 16px;
  max-width: 730px;
  padding: 24px;
  min-height: 10vh;
  width: 100%;
  margin: 24px auto;
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));
  position: relative;

  &__image {
    height: inherit;
    width: inherit;

    img {
      width: inherit;
      height: auto;
    }
  }

  &__divider {
    background-color: #EDF2F7;
    height: 1px;
    width: 100%;
    margin: 25px 0;
  }

  &__slider {
    overflow: hidden;
    position: relative;
    width: 682px;
    margin: 0 auto 24px;
    border-radius: 10px;
  }

  &__slide {
    height: 304px;
  }

  &__bullets {
    position: absolute;
    bottom: 16px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  &__next-slide,
  &__prev-slide {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__next-slide {
    background: url('../img/arr_r.png');
    right: 16px;

    &:hover {
      background: url('../img/arr_l_prsd.svg');
    }
  }

  &__prev-slide {
    background: url('../img/arr_l.png');
    left: 16px;

    &:hover {
      background: url('../img/arr_r_prsd.svg');
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 136.52%;
    color: #16192C;
  }

  &__organization {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: #7A7A9D;
  }

  &__top {
    display: inline-flex;
    align-items: center;
    width: 100%;

    &-block {
      margin-left: 23px;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
    }

    &-logo {
      width: 61px;
      height: 61px;
    }
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.49);
  cursor: pointer;

  &-active {
    background: #FFFFFF;
  }
}
