include ../button/button
include ../icon/icon

mixin filter(data, modifier)
    .filter(class=modifier)
        .filter__item-selectors
            .filter__item.filter__item--filters
                span.filter__item-text Фильтры
                +button({
                    type: 'button',
                    icon: 'arr_down',
                    alt: 'Открыть',
                    attr: {
                        'aria-label': 'Открыть'
                    }
                }, 'button--clear')
            .filters-block.filter__item-select
                .filters-block__block
                    .filters-block__title Статус
                    .filters-block__list
                        .filters-block__item
                            | Новая заявка
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Скрининг
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Скоринг
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Экспертный совет
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Акселерационная программа
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Программа пилотирования
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Инвестирование
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                .filters-block__block
                    .filters-block__title Оценка эксперта
                    .filters-block__list
                        .filters-block__item
                            | Хочу работать
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Интересно
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Неинтересно
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                .filters-block__block
                    .filters-block__title Технологическое направление
                    .filters-block__list
                        .filters-block__item
                            | Доступный и комфортный городской транспорт
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Новые виды мобильности
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Безопасность дорожного движения
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Здоровые улицы и экология
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Цифровые технологии в транспорте
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                .filters-block__block
                    .filters-block__title Требуется ли сертификация продукта
                    .filters-block__list
                        .filters-block__item.filters-block__item--active
                            | Да
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
                        .filters-block__item
                            | Нет
                            +icon({ id: 'delete', modifier: 'filters-block__icon'})
        .filter__by
            .filter__item.filter__item--active
                .filter__item-text По дате
            .filter__item
                .filter__item-text По рейтингу
            .filter__item
                .filter__item-text По названию