/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.filters-block {
  display: none;
  user-select: none;

  &__block {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #7A7A9D;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
  }

  &__item {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    color: #4C6FFF;
    background: #FFFFFF;
    border: 1px solid #4C6FFF;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px 10px;
    cursor: pointer;
    transition: all .1s ease-in;

    &:hover {
      background-color: #4C6FFF10;
    }

    .icon {
      width: 11px;
      height: 11px;
      display: none;
    }

    &--active {
      background: #E1E8FF;
      .icon {
        display: initial;
      }
    }
  }
}

.filter {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__by {
    display: inline-flex;
    align-items: center;
    column-gap: 24px;
  }

  &__item {
    cursor: pointer;
    position: relative;

    &-selectors {
      position: relative;
      max-width: 350px;
      width: 100%;

      &--active {
        .filters-block {
          display: initial;
        }

        .filter__item--filters {
          border: 1px solid #4C6FFF;
        }

        .filter__item--filters .button__icon {
          transform: rotate(0deg);
        }
      }
    }

    &-select {
      background: #FFFFFF;
      border-radius: 16px;
      padding: 24px;
      position: absolute;
      top: 55px;
      left: 0;
      z-index: 9;
      width: 100%;
      filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.1)) drop-shadow(0px 30px 40px rgba(20, 37, 63, 0.08));
      border: 1px solid #7895FF;
    }

    &-text {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      color: #B5B5BD;
    }

    &--active {
      .filter__item-text {
        color: #1A202C;
      }
    }

    &--filters {
      max-width: 350px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
      filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));
      border-radius: 16px;
      border: 1px solid transparent;
      padding: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      transition: all .2s ease-out;

      .button__icon {
        margin: 0;
        width: 11px;
        height: 11px;
        color: #B5B5BD;
        transition: transform .2s ease-out;
        transform: rotate(-180deg);
      }
    }
  }
}