include ../icon/icon.pug
include ../input/input

mixin header(data, modifier)
    if data.aside
        aside.aside-menu
            .aside-menu__wrap
                a(href="index.html").aside-menu__logotype
                    img(src="/assets/img/logo.svg")
                nav.aside-menu__index
                    ul.aside-menu__list.aside-menu__list--top
                        for item in data.menu_top
                            li.aside-menu__item(class= item.modifier_item)
                                img(src=item.icon).aside-menu__item-icon
                                a.aside-menu__link(href= item.url, class= item.active ? 'aside-menu__link--active' : "")!= item.title
                                if item.notification || item.favorites
                                    .aside-menu__counter 1
                    .aside-menu__divider
                    ul.aside-menu__list.aside-menu__list--middle
                        for item in data.menu_middle
                            li.aside-menu__item(class= item.modifier_item)
                                img(src=item.icon).aside-menu__item-icon
                                a.aside-menu__link(href= item.url, class= item.active ? 'aside-menu__link--active' : "")!= item.title
                                if item.notification || item.favorites
                                    .aside-menu__counter 23
                    ul.aside-menu__list.aside-menu__list--bottom
                        for item in data.menu_bottom
                            li.aside-menu__item(class= item.modifier_item)
                                img(src=item.icon).aside-menu__item-icon
                                a.aside-menu__link(href= item.url, class= item.active ? 'aside-menu__link--active' : "")!= item.title
    else
        header.menu.js-menu(class= modifier)
            .container.menu__container.h-display--flex
                .menu__wrap
                    a(href="index.html").menu__logotype
                        img(src="/assets/img/logo.svg")
                    nav.menu__index
                        ul.menu__list
                            for item in data.menu
                                li.menu__item.js-menu-item(class= item.modifier_item)
                                    a.menu__link(href= item.url, class= item.active ? 'menu__link--active' : "")!= item.title

