extend ../layouts/base

include ../../components/header/header
include ../../components/project-list/project-list
include ../../components/icon/icon
include ../../components/input/input
include ../../components/filter/filter
include ../../components/button/button
include ../../components/cover/cover
include ../../components/detail-item/detail-item

block title
    | Clever - Main page

block main_title
    h1.h-hidden Clever - Dashboard

block content
    .dashboard.h-display--flex
        +header({
            aside: true,
            menu_top: [
                {
                    title: 'Все проекты',
                    url: 'dashboard.html',
                    icon: 'assets/img/icon_home.svg',
                    active: true,
                },
                {
                    title: 'Мои стартапы',
                    icon: 'assets/img/icon_startups.svg',
                    url: 'index.html',
                },
                {
                    title: 'Избранное',
                    icon: 'assets/img/icon_favorites.svg',
                    favorites: true,
                    url: 'favorites.html',
                },
                {
                    title: 'Создать заявку',
                    url: 'make_request_second.html',
                    icon: 'assets/img/icon_create.svg',
                },
            ],
            menu_middle: [
                {
                    title: 'Настройки',
                    icon: 'assets/img/icon_settings.svg',
                    url: 'dashboard.html',
                },
                {
                    title: 'Уведомления',
                    icon: 'assets/img/icon_notifications.svg',
                    notification: true,
                    url: 'index.html',
                }
            ],
            menu_bottom: [
                {
                    title: 'Личный кабинет',
                    icon: 'assets/img/icon_profile.svg',
                    url: 'dashboard.html',
                },
                {
                    title: 'Выйти',
                    icon: 'assets/img/icon_logout.svg',
                    url: 'index.html',
                }
            ],
        }, '')
        article.project-list.project-list--detail
            .project-list__header
                h1.project-list__title Все проекты
                .project-list__search
                    +input({type: 'search'}, '')
            .project-list__divider
            +button({
                type: 'link',
                url: 'dashboard.html',
                icon: 'chevron_l',
                title: 'Назад',
                alt: 'Назад',
                attr: {
                    'aria-label': 'Назад'
                }
            }, 'button--clear project-list__back')
            +detail-item({
            }, '')

block modals

