extend ../layouts/base

include ../../components/header/header
include ../../components/landing-block/landing-block
include ../../components/backbg/backbg

block title
    | Clever - Landing page

block header
    +header({
        menu: [
            {
                title: 'Проекты',
                url: 'dashboard.html',
            },
            {
                title: 'Войти',
                url: 'login.html',
            },
            {
                title: 'Регистрация',
                url: 'registration.html',
            },
            {
                title: 'О нас',
                url: '#',
            },

        ]
    }, 'menu--landing')

block main_title
    h1.h-hidden Clever - Landing page

block content
    +backbg()
    .container
        +landing-block()

block modals

