extend ../layouts/base

include ../../components/header/header
include ../../components/auth/auth

block title
    | Clever - Create a request

block header
    +header({
        menu: [
            {
                title: 'Проекты',
                url: 'dashboard.html',
            },
            {
                title: 'Войти',
                url: 'login.html',
            },
            {
                title: 'Регистрация',
                url: 'registration.html',
            },
            {
                title: 'О нас',
                url: '#',
            },

        ]
    }, '')

block main_title
    h1.h-hidden Clever - registration

block content
    .container
        +auth({
            title: 'Оставьте заявку на проект',
            make_request: true,
        }, 'auth--make-request')

block modals

