extend ../layouts/base

include ../../components/header/header
include ../../components/auth/auth

block title
    | Clever - Main page

block header
    +header({
        menu: [
            {
                title: 'Проекты',
                url: 'dashboard.html',
            },
            {
                title: 'Войти',
                url: 'login.html',
            },
            {
                title: 'Регистрация',
                url: 'registration.html',
                active: true,
            },
            {
                title: 'О нас',
                url: '#',
            },

        ]
    }, '')

block main_title
    h1.h-hidden Clever - registration

block content
    .container
        +auth({
            title: 'Создайте аккаунт',
            registration_form: true,
        }, '')

block modals

