extend ../layouts/base

include ../../components/header/header
include ../../components/auth/auth

block title
    | Clever - Registration

block header
    +header({
        menu: [
            {
                title: 'Проекты',
                url: 'dashboard.html',
            },
            {
                title: 'Войти',
                url: 'login.html',
            },
            {
                title: 'Регистрация',
                url: 'registration.html',
                active: true,
            },
            {
                title: 'О нас',
                url: '#',
            },

        ]
    }, '')

block main_title
    h1.h-hidden Clever - Registration

block content
    .container
        +auth({
            title: 'Вы хотите создать аккаунт как эксперт или как команда?',
            registration: true,
        }, 'auth--registration')

block modals

