doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        title
            block title
        link(href='assets/css/main.css', rel='stylesheet')
        link(rel="icon", type="image/png", href="#", sizes="16x16")

    body
        block main_title
        block header

        .wrapper--main
            main.wrapper__main-content(role='main', id='content')
                block content

        block footer

        block modals

        block script
        script(src='assets/js/swiper-bundle.js')
        script(src='assets/js/main.js')
