.project-list {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  background-color: $color-bg-secondary;
  margin-left: 250px;
  position: relative;

  &--detail {
    min-height: 180vh;
  }

  &__header {
    padding-bottom: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 136.02%;
    color: $color-text-secondary;
  }

  &__back {
    position: absolute;
    top: 131px;
    left: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #4C6FFF;

    .button__icon {
      width: 16px;
      height: 16px;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: #EDF2F7;
    margin: 0 auto;
  }

  &__filters {
    margin-top: 16px;
  }

  &__items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

    @media (max-width: 1690px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}