include ../icon/icon
include ../input/input
include ../filter/filter
include ../button/button
include ../cover/cover

mixin project-list(data, modifier, attr)
    article.project-list
        .project-list__header
            h1.project-list__title!=data.title
            .project-list__search
                +input({type: 'search'}, '')
        .project-list__divider
        .project-list__filters
            +filter({}, '')
        .project-list__items
            each val in [1,2,3,4,5,6,7,8,9]
                +cover({
                    favorites: true,
                    img_src: 'assets/img/poster.jpg',
                    label: 'item1',
                    title: 'Project 1'
                }, 'project-list__cover')